Source: cajun
Section: devel
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Daniel Pocock <daniel@pocock.pro>
Homepage: https://github.com/cajun-jsonapi/cajun-jsonapi
Build-Depends: debhelper (>= 9),
               libboost-dev
Standards-Version: 3.9.5
Vcs-Git: https://github.com/cajun-jsonapi/cajun-jsonapi
Vcs-Browser: https://github.com/cajun-jsonapi/cajun-jsonapi

Package: libcajun-dev
Section: libdevel
Architecture: all
Depends: ${misc:Depends}
Description: C++ headers for JSON generation and parsing
 CAJUN is a C++ API for the JSON data interchange format with an emphasis
 on an intuitive, concise interface. The library provides JSON types
 and operations that mimic standard C++ as closely as possible in concept
 and design.

